<!--=====HEADER START=======-->
<header class="homepage2-body">
  <div id="vl-header-sticky" class="vl-header-area vl-transparent-header">
    <div class="container fix-header">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-area">
            <div class="header-list-area">
              <ul class="info">
                <li><a href="mailto:info@produkpemuda.com"><img src="/img/icons/mail2.svg" alt="">info@produkpemuda.com</a><span> | </span></li>
                <li><a href="#"><img src="/img/icons/location2.svg" alt="">Bekasi, West Java</a><span> | </span></li>
                <li><a href="tel:+6285189972223"><img src="/img/icons/phone2.svg" alt="">+62 851-8997-2223</a></li>
              </ul>

              <ul class="social">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class="m-0"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="space20 d-lg-block d-none"></div>
        </div>
      </div>
      <div class="row align-items-center row-bg">
        <div class="col-lg-2 col-md-6 col-6">
          <div class="vl-logo">
            <a href="index"><img src="/img/logo/logo1.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div class="vl-main-menu text-center">
            <nav class="vl-mobile-menu-active">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/produk">Produk</a></li>
                <li><a href="/news">News & Event</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/csr">CSR</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="vl-hero-btn d-none d-lg-block text-end">
            <a href="/contact" class="menu-btn2">Hubungi Kami <i class="fa-solid fa-angle-right"></i></a>
          </div>
          <div class="vl-header-action-item d-block d-lg-none">
            <button type="button" class="vl-offcanvas-toggle">
              <i class="fa-solid fa-bars-staggered"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--=====HEADER END =======-->

<!--===== MOBILE HEADER STARTS =======-->
<div class="homepage2-body">
  <div class="vl-offcanvas">
    <div class="vl-offcanvas-wrapper">
      <div class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-90">
        <div class="vl-offcanvas-logo">
          <a href="index"><img src="/img/logo/logo1.png" alt=""></a>
        </div>
        <div class="vl-offcanvas-close">
          <button class="vl-offcanvas-close-toggle"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>

      <div class="vl-offcanvas-menu d-lg-none mb-40">
        <nav></nav>
      </div>

      <div class="space20"></div>
      <div class="vl-offcanvas-info">
        <h3 class="vl-offcanvas-sm-title">Contact Us</h3>
        <div class="space20"></div>
        <span><a href="mailto:info@produkpemuda.com"> <i class="fa-regular fa-envelope"></i> info@produkpemuda.com</a></span>
        <span><a href="tel:+6285189972223"><i class="fa-solid fa-phone"></i> +62 851-8997-2223</a></span>
        <span><a href="#"><i class="fa-solid fa-location-dot"></i> Bekasi, West Java</a></span>
      </div>
      <div class="space20"></div>
      <div class="vl-offcanvas-social">
        <h3 class="vl-offcanvas-sm-title">Follow Us</h3>
        <div class="space20"></div>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>

    </div>
  </div>
  <div class="vl-offcanvas-overlay"></div>
</div>
<!--===== MOBILE HEADER STARTS =======-->